@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz@10..100&display=swap');

body {
 margin: 0;
 font-family: Imbue;
}

h1 {
 margin: 0;
 text-align: center;
 border-bottom: 1px solid #000;
 margin-bottom: 50px;
 background-color: rgba(95, 177, 54, 0.2);
 text-shadow: 1px 1px #fff;
}

fieldset {
 width: 600px;
 margin: auto;
 box-shadow: 5px 5px 5px rgba(208, 226, 139, 0.5);
 background-color: rgba(121, 93, 134, 0.168);
}

button {
 width: 400px;
 height: 40px;
 font-weight: bold;
 font-size: 16px;
 margin: auto;
 margin-top: 20px;
 display: block;
}